* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  padding-bottom: 50px;
}

.crypto {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 10px;
  margin-right: 15px;
}

.search-bar {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 30px;
  text-align: left;
}

.input {
  padding-left: 16px;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: none;
}


