* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.title {
  padding-bottom: 40px;
}

.row-heading {
  align-items: left;
}

.crypto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-right: 15px;
}

.search-bar {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.input {
  padding-left: 16px;
  width: 400px;
  height: 50px;
  border-radius: 10px;
}


