.crypto-container {
    display: flex;
    justify-content: center;
}

.crypto-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}

.crypto {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
  }

.crypto img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.crypto h1 {
    font-size: 16px;
    width: 150px;
}

.crypto-info {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
  }

.crypto-rank {
    width: 230px;
}

.crypto-symbol {
    text-transform: uppercase;
}

.coin-price {
    width: 110px;
  }
  
.crypto-volume {
    width: 155px;
  }
  
.marketcap {
    width: 230px;
  }
  
.coin-percent {
    width: 100px;
  }
  
.negative-change {
    color: #f00606;
  }
  
.positive-change {
    color: #11d811;
  }