.crypto-container {
  display: flex;
  justify-content: center;
}

.crypto-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 60px;
  border-bottom: 3px solid #d7d7d7;
  width: 1000px;
}

.crypto img {
  height: 30px;
  width: 30px;
}

.crypto h1 {
  font-size: 15px;
  width: 150px;
}

.crypto-info {
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 100%;
}

.rank {
  width: 110px;
  padding-right: 15px;
}

.crypto-symbol {
  text-transform: uppercase;
}

.coin-price {
  width: 110px;
}
  
.crypto-volume {
  width: 155px;
}
  
.marketcap {
  width: 230px;
}
  
.coin-percent {
  width: 100px;
}
  
.negative-change {
  color: #f00606;
}
  
.positive-change {
  color: #11d811;
}
